@import "bourbon";
@import "neat";

@mixin grid-collapse($grid: $neat-grid) {
  $_grid-gutter: _retrieve-neat-setting($grid, gutter);

  @if unit($_grid-gutter) == "%" {
    @warn "`grid-collapse` is not compatible with percentage based gutters.";
  }

  float: left;
  margin-left: -($_grid-gutter);
  margin-right: -($_grid-gutter);
  width: calc(100% + #{($_grid-gutter * 2)});
}

@import "reset/normalize";

@import "library/library";
@import "base/base";
@import "patterns/patterns";
@import "components/components";
@import "views/views";
