table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: auto;
  width: 100%;

  @media only screen and (max-width: #{$media-tablet}) {
    display: block;
    overflow-x: scroll;

    td:last-child {
      min-width: 18em;
    }
  }
}

th {
  border-bottom: $secondary-border;
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border-bottom: $secondary-border;
  padding: 0.75em 0;

  p {
    margin-bottom: 0;
  }
}

tr,
td,
th {
  vertical-align: middle;

  &:not(:last-child) {
    padding-right: $small-spacing;
  }
}
