nav.c-site-nav role="navigation"
  div.p-container
    = link_to "Neat",
              "/",
              class: "c-site-nav__link"
    = link_to "Documentation",
              "/docs/latest/",
              class: "c-site-nav__link"
    = link_to "GitHub",
              "https://github.com/thoughtbot/neat",
              class: "c-site-nav__link"
