@import "neat";

$article-layout-grid: (
  columns: 1,
  gutter: 2rem,
);

$article-layout-grid--tablet-up: (
  columns: 5,
  gutter: 2rem,
  media: "(min-width: 768px)",
);

.article-layout {
  @include grid-container;
}

.article-layout__hero {
  @include grid-column(1, $article-layout-grid);
  margin-bottom: 2rem;
}

.article-layout__sidebar {
  @include grid-column(1, $article-layout-grid);
  margin-bottom: 2rem;

  @include grid-media($article-layout-grid--tablet-up) {
    @include grid-column(2);
  }
}

.article-layout__main {
  @include grid-column(1, $article-layout-grid);

  @include grid-media($article-layout-grid--tablet-up) {
    @include grid-column(3);
  }
}
