@import "neat";

$example-2-grid: (
  gutter: 2rem,
  media: 800px,
);

.example-2,
.example-2__row {
  @include grid-container;
}

.example-2__heading {
  @include grid-column;
}

.example-2__hero {
  @include grid-column;
  @include grid-media($example-2-grid) {
    @include grid-column(6);
    @include grid-push(3);
  }
}

.example-2__rule {
  @include grid-column;
  @include grid-media($example-2-grid) {
    @include grid-column(4);
    @include grid-push(4);
  }
}

.example-2__column-1 {
  @include grid-column;
  @include grid-media($example-2-grid) {
    @include grid-column(2);
    @include grid-push(2);
  }
}

.example-2__column-2 {
  @include grid-column;
  @include grid-media($example-2-grid) {
    @include grid-column(6);
  }
}
