.button {
  appearance: none;
  box-shadow: $neat-complex-box-shadow;
  background-color: $action-color;
  background-image: $neat-gradient;
  border: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  letter-spacing: $letter-spacing-extra-small;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: transform 200ms $ease-out-back, box-shadow 300ms $ease-out-back;;

  &:hover,
  &:focus {
    transition: transform 300ms $ease-out-back;
    background-color: shade($action-color, 20%);
    border: 0;
    color: $white;
    transform: scale(1.05) translateY(-0.25rem);
    box-shadow: $neat-complex-box-shadow-hover;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
