.docs-nav {
  @include grid-column(12);
  @include clearfix;
  padding-top: $base-spacing;

  @include grid-media($neat-grid-tablet) {
    @include grid-column(3);
    position: absolute;

    &.fixed {
      position: fixed;
      top: 0;
      max-height: 100vh;
      overflow: hidden;

      &::-webkit-scrollbar {
        width: 0 !important;
      }

      .docs-nav__inner {
        overflow-y: scroll;
      }
    }
  }
}

.docs-nav__inner {
  width: calc(100% + 18px);
}

.docs-nav__heading {
  color: $alt-font-color;
  font-size: $small-font-size;
  font-weight: 300;
  margin: 0 0 0.5em;
  text-transform: uppercase;
}

.docs-nav__heading--has-dropdown {
  margin-bottom: $base-spacing;
  position: relative;
  z-index: 2;
}

.docs-nav__link {
  border: 0;
  color: inherit;
  font-size: $base-font-size;
}

.docs-nav__list {
  list-style: none;
  margin: 0 0 1em;
  padding-left: 0;
}

.docs-nav__item {
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1.8;
}
