.doc-item {
  margin-bottom: 3rem;

  @include grid-media($neat-grid-tablet) {
    margin-bottom: 5rem;
  }
}

.doc-item__header {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
}

.doc-item__section:not(:last-child) {
  margin-bottom: $base-spacing;
}

.doc-item__title {
  flex-grow: 1;
}
