.example {
  @include grid-column;
  @include margin($base-spacing null ($base-spacing * 1.5));
  border-radius: $base-border-radius;
  box-shadow: $base-complex-box-shadow;
  overflow: hidden;
}

.example__column--empty {
  min-height: 20rem;
}

.example__column--fancy {
  background-image: $neat-gradient;
  color: $base-background-color;
}

.example__column--spaced {
  padding: $base-spacing 0;
}

.example__heading {
  font-family: $base-font-family;
  font-size: modular-scale(3);
  font-weight: 600;
  letter-spacing: $letter-spacing;
  margin-bottom: $small-spacing;
  text-align: center;
}

.example__sub-heading {
  font-family: $base-font-family;
  font-size: modular-scale(-2);
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}
