.hero__title {
  line-height: 0.8;
  margin-bottom: 0;
}

.hero__version {
  color: $alt-font-color;
}

.hero__sub-title {
  @include grid-media($neat-grid-tablet) {
    margin-bottom: 1em;
  }
}

.hero__flex-container,
.hero__flex-container--small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include padding(10vh null);
}

.hero__flex-container {
  min-height: calc(90vh - #{$aproximate-nav-height});

  @include grid-media($neat-grid-tablet) {
    @include padding(12vh null);
  }

  @include grid-media($neat-grid-desktop) {
    @include padding(16vh null);
  }
}

.hero__action,
.hero__links {
  @include grid-media($neat-grid-desktop) {
    float: left;
    width: 50%;
  }
}

.hero__links {
  @include grid-media($neat-grid-desktop) {
    list-style: none;
    padding-left: 0;
    margin: -0.5em 0 0;
    white-space: nowrap;
  }
}
